<header class="header">
    <a href="/" class="header__logo"><img src="/img/logo.png" alt="School Logo" height="69px" ></a> 
    <div class="search__body"><%- include('../partials/search.ejs') %></div>
    <div class="header__login">
        <a href="/logout" class="login">Logout</a>
    </div>
</header>