<header class="header">
    <a href="/" class="header__logo"><img src="/img/logo.png" alt="School Logo" height="69px" ></a> 
    <div class="search__body"><%- include('../partials/search.ejs') %></div>
    <div class="header__button">
        <!-- <a href="/login">
            Login
        </a> -->
        <% if (isAuthenticated) { %>
            <a href="/dashboard" class="header__logo"><img src="/img/MyAccount.png" alt="Me" height="50px" ></a> 
        <% } else { %>
            <a href="/login" class="login">Login</a>
        <% } %>
    </div>

</header>


