<div class="author">

    <ul>
        <li>
            <a href="/biology" class="">BIOLOGY</a>
        </li>
        <li>
            <a href="/physics" class="">PHYSICS</a>
        </li>
        <li>
            <a href="/robotics" class="">ROBOTICS</a>
        </li>
        <li>
            <a href="/chemistry" class="">CHEMISTRY</a>
        </li>
    </ul>

    <h1 class="author__heading">ORDER NOW</h1>
    <p class="author__body">be careful with the equipment blablabla</p>
</div>
