<h1 class="header__login">Login</h1>

<form action="/login" method="POST" autocomplete="off">
   <label for="username"><bold>Username</bold></label>
   <input type="text" placholder="Enter Username" name="username">

   <label for="password"><bold>Password</bold></label>
   <input type="password" placholder="Enter Password" name="password">
   
   <input type="submit" value="Login" class="login">
</form>
<a href="/" class="login">cancel</a>

<h1 class="header__login">Register</h1>

<form action="/register" method="POST" autocomplete="off">
   <label for="username"><bold>Username</bold></label>
   <input type="text" placholder="Enter Username" name="username">

   <label for="password"><bold>Password</bold></label>
   <input type="password" placholder="Enter Password" name="password">
   
   <input type="submit" value="Register" class="login">
</form>
<a href="/" class="login">cancel</a>